* {
    background-color: bisque;
    font: sans-serif;
}

img {
    height: 250px;
    width: auto; 
}

#fancy-title {
    color:crimson;
    font-family: 'Courier New', Courier, monospace;
    font-size:xx-large;
    font-weight: 800;
}

h1 {
    font-family: 'Courier New';
}

button {
    border-radius: 20%;
    color:darkgreen;
    background-color: coral;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover{
    background-color: darkgray;
    transform: translateY(-1px);
}

button:active {
    transform: translateY(1px); 
}